@charset"UTF-8";
/*ページ内リンクの位置調整*/
section{
  margin-top: -60px;
  padding-top: 60px;
}

/*カスタムcss*/

.custom-container{
  max-width: 1260px;
}

/*元々のスタイルを残しつつコンテナをカスタマイズ*/
.custom-container{
  @media (min-width: 1400px){
  max-width: 1260px;
}
}